<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Enviably_Streamer::elements" title="Enviably" module="Enviably_Streamer" sortOrder="45" resource="Enviably_Streamer::elements"/>
        <add id="Enviably_Streamer::streamer_streamer" title="Streamers" module="Enviably_Streamer" sortOrder="10" action="enviably_streamer/streamer" resource="Enviably_Streamer::streamer_streamer" parent="Enviably_Streamer::elements"/>
    </menu>
</config>
